####################################
# General
####################################
HELP.md

####################################
# Maven
####################################
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

####################################
# Application config (secrets)
####################################
# Ignore real config files
/src/main/resources/application.properties

# Allow example config files
!application.properties.example
!src/main/resources/application.properties.example

####################################
# Sensitive Java configuration
####################################
# Security & Mail configuration contain secrets
/src/main/java/com/securitygateway/nextstep/security/SecurityConfiguration.java
/src/main/java/com/securitygateway/nextstep/controller/CorsConfig.java
/src/main/java/com/securitygateway/nextstep/configuration/MailConfiguration.java

####################################
# Spring Tool Suite (STS)
####################################
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

####################################
# IntelliJ IDEA
####################################
.idea/
*.iws
*.iml
*.ipr

####################################
# NetBeans
####################################
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

####################################
# Gradle / Build
####################################
build/
!**/src/main/**/build/
!**/src/test/**/build/

####################################
# VS Code
####################################
.vscode/

####################################
# OS files
####################################
.DS_Store
Thumbs.db
